body{
  margin: 0;
}
ul{
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: gold;
  position: fixed;
  top: 0;
}
li{
  display: inline;
  float: left;
}
li a {
  display: block;
  text-decoration: none;
  padding: 5px 50px;
  color: blue;
}
p{
  color: blue;
}
div.sticky{
  position: sticky;
  top: 2%;
  background-color: lightblue;
  border: 3px solid gold;
  text-align: center;
}
div.abs{
  position: absolute;
  background-color: salmon;
  right: 802px;
  width: 300px;
  height: ;
  border: 2px solid gold;
  text-align: center;
  top: 7.5%
}
div.max{
  border: 3px solid gold;
  max-width: 300px;
  max-height: 200px;
  right: 
}
div.wave{
  border: 3px solid gold;
  max-width: 1000px;
  max-height: 610px;
  float: right;
}
div.omni{
  border: 3px solid gold;
  max-width: 201px;
  float: right;
  top: ;
  position: ;
  background-color: salmon;
}
div.words{
  background-color: lightblue;
  border: solid gold;
  text-align: center;
}
body{
  background-color: lavender;
}
td{
  border: 2px solid gold;
  text-align: left;
  padding: 2px;
  background-color: lightblue
}
table{
  font-family: arial, sans-sarif;
  width: 25%;
  position: absolute; 
  height: 25px;
  right: 16px; 
  top: 12%; 
tr:nth-child(even) {
  background-color: #dddddd;
  color: blue;
}